@charset "utf-8";

.title {
  padding-top: 100px;
}

.title dt {
  font-weight: var(--font-bold);
  font-size: var(--font-lg);
}

.title dd {
  font-size: var(--font-md);
}
/* about */
.about {
  padding: 26.5rem 0 0;

  padding: 13.8% 0 0;
}

.about-text {
  flex: 1 1 max(40%, 300px);
  /* border: 1px solid #000; */
}

.about-con li {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30rem;
  align-items: center;
  gap: 8%;

  padding-bottom: 19.7368%;
}

.about-con li:nth-child(even) {
  flex-direction: row-reverse;

  /* even: 짝수들만 포함 시키는것 */
}

.about-con dl dt {
  padding-top: 3rem;
  font-size: var(--font-lg);
  font-weight: var(--font-bold);

  padding-top: 4.4313%;
}

.about-con dl dd {
  padding-top: 2rem;
  font-size: var(--font-sm);
  font-weight: var(--font-regular);
  color: var(--Dark-60);

  padding-top: 2.9542%;
}

.about-con figure {
  height: 47rem;
  border-radius: var(--border-radius-lg);
  overflow: hidden;
  border-radius: 4rem;

  flex: 1 1 max(40%, 300px);
}

.about-con figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-con li dl::before {
  content: "";
  display: block;
  width: 6rem;
  height: 6rem;
}

.about-con li:nth-child(1) dl::before {
  background: url(../img/about-icon-1.svg) no-repeat 50% / contain;
}
.about-con li:nth-child(2) dl::before {
  background: url(../img/about-icon-2.svg) no-repeat 50% / contain;
}
.about-con li:nth-child(3) dl::before {
  background: url(../img/about-icon-3.svg) no-repeat 50% / contain;
}

/* map */

.map-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-gray-100);
}

.map-text {
  font-size: var(--font-md);
  font-weight: var(--font-regular);
  padding: 8rem;
  padding: 5.2632%;
}

.map-title {
  font-size: var(--font-xxl);
  font-weight: var(--font-bold);
}

.map-text1 {
  color: var(--color-gray-200);
  padding: 2rem 0 2rem;
}

.map-wrap {
  width: 80rem;
}

#daumRoughmapContainer1734592229954 {
  width: 80rem;
}

@media (max-width: 1600px) {
  .map-con {
    flex-wrap: wrap;
  }

  .map-wrap {
    width: 100%;
  }

  #daumRoughmapContainer1734592229954 {
    width: 100% !important;
  }
}

@media (max-width: 950px) {
  .education-all {
    flex-direction: column;
  }

  .education figure {
    width: 100%;
    height: 20.4rem;
    margin-top: 3.5rem;
    border-radius: 2rem;
  }
}
