@charset "utf-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --main-color: #086bb6;
  --Light-100: #fff;
  --color-black: #000;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #a8a8a8;
  --Dark-60: #666666;
  --color-foot: #7dc7ff;

  --font-xxxl: clamp(4rem, 2.6041vw, 5rem);
  --font-xxl: clamp(2.5rem, 2.0833vw, 4rem);
  --font-lg: clamp(2rem, 1.666vw, 3.2rem);
  --font-md: clamp(1.6rem, 1.042vw, 2rem);
  --font-sm: clamp(1.5rem, 1.25vw, 2.4rem);
  --font-xs: clamp(1.3rem, 0.8333vw, 1.6rem);

  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
}

::selection {
  background: var(--color-foot);
  color: var(--Light-100);
}

html {
  font-size: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font: 16px/1.5 Pretendard, sans-serif;
  color: #000;
  text-transform: capitalize;
  word-break: keep-all;
  overflow-x: hidden;

  min-width: 36rem;
  background: var(--Light-100);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: var(--main-color);
}

img {
  vertical-align: top;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.inner {
  width: 152rem;
  margin: 0 auto;

  width: 79.1667%;
}

header {
  /* position: fixed; */
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

header nav {
  display: flex;
  width: 100%;
  height: 22rem;
  /* background: #5f5f; */
  justify-content: space-between;
  align-items: center;
}

.nav-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  display: block;
  width: 22rem;
  height: 9rem;
  background: url(../img/logo.png) no-repeat 100% / cover;
}

.gnb {
  display: flex;
  align-items: center;
}

.gnb li a {
  /* border: 1px solid #000; */
  display: block;
  justify-content: space-between;
  font-weight: var(--font-semibold);
  font-size: var(--font-md);
  padding-right: 8rem;
}

.join-btn {
  display: flex;
  gap: 4rem;
}

.join-btn a {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
}

.more-btn a {
  display: none;
  width: 2.5rem;
  height: 0.9rem;
  background: url(../img/more-btn.svg) no-repeat 100% / contain;
}

/* 모바일 메뉴 */
.mobile-menu.active {
  right: 0;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 70%;
  height: 100vh;
  background: var(--main-color);
  color: #fff;
  transition: 0.4s;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;

  z-index: 1000;
}

.mobile-btn-close {
  position: absolute;
  top: 7rem;
  right: 5.2rem;
  width: 3.2rem;
  height: 3.2rem;
  background: url(../img/close-icon.svg) no-repeat 40% / contain;
  z-index: 1000;
}

.mobile-btn-close {
  cursor: pointer;
}

.mobile-gnb {
  margin-top: 15rem;
}

.mobile-gnb li a {
  font-weight: 600;
  font-size: 2.2rem;
  display: block;
  padding: 2.5rem 0;
  text-align: center;
}

.mobile-gnb li a:hover {
  color: var(--color-foot);
}
/* 모바일 메뉴 end */

/* footer */
#footer {
  padding: 11.8rem 0 11.8rem;
  margin-top: 20rem;
  background: var(--main-color);
}

.foot-title {
  display: flex;
  align-items: center;
  gap: 3.3rem;
}

.foot-logo a {
  display: block;
  width: 9.5rem;
  height: 8.7rem;
  background: url(../img/foot-logo.png) no-repeat 100% / contain;
}

.foot-nav {
  gap: 10rem;
}

.foot-nav li {
  font-size: var(--font-md);
  font-weight: var(--font-bold);
  color: var(--Light-100);
}

.foot-nav {
  display: flex;
}

.foot-call {
  display: flex;
  padding-top: 5rem;
  gap: 2rem;
}
.foot-call dl {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.foot-call dl dt,
.foot-time dl dt,
.foot-text dl dt {
  font-size: var(--font-xs);
  font-weight: var(--font-medium);
  color: var(--color-foot);
}

.foot-call dl dd,
.foot-time dl dd {
  font-size: var(--font-xs);
  font-weight: var(--font-medium);
  color: var(--Light-100);
}

.foot-time {
  display: flex;
  padding-top: 2rem;
  gap: 2rem;
  padding-bottom: 2rem;
}

.foot-time dl {
  display: flex;
  gap: 1.5rem;
  color: #fff;
}

.foot-text {
  display: flex;
  padding-top: 2.5rem;
  gap: 5.9rem;
}

.foot-text p {
  display: flex;
  align-items: center;
  color: var(--color-foot);
  font-size: var(--font-xs);
}

.btn {
  position: fixed;
  display: block;
  z-index: 100;
  width: 8rem;
  height: 8rem;
  top: 85%;
  right: 5%;
  border-radius: 10rem;
  background: var(--main-color) url(../img/Chat-icon.svg) no-repeat 50%;
  border: 1.5px solid #fff;

  cursor: pointer;
}

.swiper-button-prev-1 {
  position: absolute;
  top: 50%;
  left: 6rem;

  background: initial;
  z-index: 5;
  transform: rotate(180deg);

  cursor: pointer;
}

.swiper-button-prev-1::after {
  content: "";
  display: block;
  width: 4.2rem;
  height: 4.2rem;
  background: url(../img/arrow.svg) no-repeat 50% / contain;
}

.swiper-button-next-1 {
  position: absolute;
  top: 50%;
  right: 6rem;

  background: initial;
  z-index: 5;

  cursor: pointer;
}

.swiper-button-next-1::after {
  content: "";
  display: block;
  width: 4.2rem;
  height: 4.2rem;
  background: url(../img/arrow.svg) no-repeat 50% / contain;
}

.swiper-pagination {
  position: absolute;
  bottom: 2% !important;
  width: 100%;
  /* background: #f5f5; */

  display: flex;
  justify-content: center;
  gap: 1rem;

  z-index: 5;
}

.swiper-pagination-bullet {
  width: 1.2rem !important;
  height: 1.2rem !important;
}

.swiper-pagination-bullet-active {
  background: var(--main-color);
}

/*  */
@media (max-width: 1500px) {
  .foot-title {
    flex-wrap: wrap;
  }

  .foot-text {
    gap: 2rem;

    flex-wrap: wrap;
  }
}

@media (max-width: 1350px) {
  .gnb li a {
    padding-right: 6rem;
  }
}

@media (max-width: 1200px) {
  .gnb li a {
    padding-right: 4rem;
  }
}

@media (max-width: 1080px) {
  .gnb {
    display: none;
  }

  .more-btn a {
    display: block;
  }
}

@media (max-width: 900px) {
  .logo a {
    width: 10.5rem;
    height: 4.9rem;
  }

  header nav {
    height: 10rem;
  }

  .foot-logo a {
    width: 7rem;
    height: 7rem;
  }

  .foot-call {
    padding-top: 4rem;
  }

  .foot-nav {
    gap: 3.5rem;
    flex-wrap: wrap;
  }

  .foot-time {
    flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  .inner {
    width: 90%;
  }
}
