@charset "utf-8";

/* about */

.about-con li:nth-child(odd) {
  flex-direction: row-reverse;
}

.about-con li:nth-child(even) {
  flex-direction: row;
}

.about-con li:nth-child(4) dl::before {
  background: url(../img/about-icon-4.svg) no-repeat 50% / contain;
}

.swiper {
  height: 30rem;
}

.keyword {
  position: relative;
  background: var(--main-color);
  color: var(--main-color2);
  padding: 5rem 0;
}

.keyword h3 {
  color: var(--light-100);
}

.keyword-con {
  justify-content: space-between;
}

.keyword-wrapper {
  padding-top: 2rem;
}

/* curriculum 섹션 스타일 */

.curriculum-con {
  justify-content: space-between;
}

.curriculum-wrapper {
  padding-top: 2rem;
}

/* 공통 스타일 */

.swiper {
  height: 30rem;
}

.swiper-slide {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.swiper-slide figure {
  width: 5rem;
  height: 5rem;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.keyword .swiper-button-prev-1 {
  display: flex;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  top: 50%;
  background: var(--light-100);
}

.keyword .swiper-button-next-1 {
  display: flex;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  top: 50%;
  background: var(--light-100);
}

.swiper-pagination {
  bottom: 3rem !important;
}

.swiper-slide dl {
  padding-top: 1.5rem;
}

.swiper-slide dl dt {
  font-weight: var(--font-bold);
  font-size: var(--font-md);
}

.swiper-slide dl dd {
  padding-top: 1.2rem;
  font-weight: var(--font-regular);
  font-size: var(--font-xs);
}

.service {
  position: relative;
  padding: 8.4rem 0;
  padding: 4.375% 0;
  /* background: #000; */
  background: url(../img/about-4.jpg) no-repeat 50% / cover;

  margin-bottom: 0;
}

.sev-con {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.service-btn {
  width: 15.1rem;

  height: 15.1rem;
  border-radius: 100%;

  background: var(--main-color);
  color: #fff;
  font-weight: var(--font-bold);
  font-size: var(--font-sm);

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.service-btn:hover {
  color: var(--light-100);
  background: var(--main-color2);
}

.sev-con dl {
  color: #fff;
  gap: 0.9rem;
}

.sev-con dl dt {
  font-weight: var(--font-regular);
  font-size: var(--font-sm);
}

.sev-con dl dd {
  font-weight: var(--font-bold);
  font-size: var(--font-lg);
}
/* 고객센터 */

/* 쇼츠 */
/* time */
.time-list {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.time-list li {
  position: relative;
  max-width: 34rem;
  /* height: 29.7rem; */
  height: auto;
  aspect-ratio: 34 / 29.7;
  border: 5px solid var(--main-color);
  border-radius: 4rem;
  padding: 3.4rem;

  width: 22.3684%;
  padding: 2.2368%;

  font-weight: var(--font-bold);
  font-size: var(--font-lg);
  color: var(--main-color);
}

.time-list li::after {
  content: "";
  position: absolute;

  right: 3.4rem;
  bottom: 3.4rem;

  right: 10.5%;
  bottom: 12%;
}

/* 339 */

.time-list li:nth-child(1)::after {
  width: 4.1rem;
  height: 7.4rem;

  width: 12.0944%;
  background: url(../img/time-list1.svg) no-repeat 50% / contain;
}
.time-list li:nth-child(2)::after {
  width: 7.4rem;
  height: 7.4rem;

  width: 21.8289%;
  background: url(../img/time-list2.svg) no-repeat 50% / contain;
}
.time-list li:nth-child(3)::after {
  width: 7.4rem;
  height: 7.4rem;

  width: 21.8289%;
  background: url(../img/time-list3.svg) no-repeat 50% / contain;
}
.time-list li:nth-child(4)::after {
  width: 7.7rem;
  height: 6.1rem;

  width: 22.7139%;
  background: url(../img/time-list4.svg) no-repeat 50% / contain;
}
/* time end */
/* 쇼츠 */

.lecture-all {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

#footer {
  margin-top: 0;
}

@media (max-width: 1500px) {
  .service-btn {
    width: 10rem;
    height: 10rem;
  }
}

@media (max-width: 1300px) {
  .service-btn {
    width: 10rem;
    height: 10rem;
  }

  .swiper {
    height: 20rem;
  }

  .time-list li {
    border: 4px solid;
    border-radius: 2.4rem;
  }

  .time-list li::after {
    bottom: 3%;
  }
}

@media (max-width: 970px) {
  .time {
    padding-top: 14.8rem;
  }

  .time-list {
    padding-top: 4.3rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .time-list li {
    padding: 1.8rem 2.2rem;
    width: calc(50% - 1rem); /* 2개씩 줄바꿈을 위해 너비 조정 및 간격 고려 */
    margin-bottom: 1rem; /* 아래쪽 간격 추가 */
  }

  .time-list li::after {
    bottom: 15%;
  }
}

@media (max-width: 900px) {
  .keyword .swiper-button-next-1 {
    width: 4rem;
    height: 4rem;
  }

  .swiper-button-next-1::after {
    width: 3rem;
    height: 3rem;
  }

  .keyword .swiper-button-prev-1 {
    width: 4rem;
    height: 4rem;
  }

  .swiper-button-prev-1::after {
    width: 3rem;
    height: 3rem;
  }
}

@media (max-width: 830px) {
  .about-text {
    padding-bottom: 2.5rem;
  }

  .keyword .swiper-button-next-1 {
    right: 5%;
  }

  .keyword .swiper-button-prev-1 {
    left: 5%;
  }
}

@media (max-width: 500px) {
  .time-list li {
    width: 18.5rem;
    height: 16.1rem;
  }

  .time-list li::after {
    bottom: 0.5rem;
  }
}
