@charset "utf-8";

/* about */
.about {
  padding: 26.5rem 0 0;

  padding: 13.8% 0 0;
}

.about-text {
  flex: 1 1 max(40%, 300px);
  /* border: 1px solid #000; */
}

.about-con li {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 35rem;
  align-items: center;
  gap: 8%;

  padding-bottom: 23.0263%;
}

.about-con li:nth-child(odd) {
  flex-direction: row-reverse;

  /* even: 짝수들만 포함 시키는것 */
}

.about-con dl dt {
  padding-top: 3rem;
  font-weight: var(--font-bold);
  font-size: var(--font-lg);
}

.about-con dl dd {
  padding-top: 2rem;
  font-weight: var(--font-regular);
  font-size: var(--font-sm);
  color: var(--Dark-60);
}

.about-con figure {
  height: 47rem;
  border-radius: 4rem;
  overflow: hidden;

  flex: 1 1 max(40%, 300px);
}

.about-con figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-con li dl::before {
  content: "";
  display: block;
  width: 6rem;
  height: 6rem;
}

.about-con li:nth-child(1) dl::before {
  background: url(../img/about-icon-1.svg) no-repeat 50% / contain;

  width: 19.4978%;
}
.about-con li:nth-child(2) dl::before {
  background: url(../img/about-icon-2.svg) no-repeat 50% / contain;

  width: 11.0783%;
}
.about-con li:nth-child(3) dl::before {
  background: url(../img/about-icon-3.svg) no-repeat 50% / contain;

  width: 13.2939%;
}

.about-con li:nth-child(4) dl::before {
  background: url(../img/about-icon-4.svg) no-repeat 50% / contain;

  width: 13.2939%;
}

.service {
  position: relative;
  padding: 8.4rem 0;
  padding: 4.375% 0;
  /* background: #000; */
  background: url(../img/about-1.jpg) no-repeat 50% / cover;
}

.sev-con {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.service-btn {
  width: 15.1rem;

  height: 15.1rem;
  border-radius: 100%;

  background: var(--main-color);
  color: #fff;
  font-weight: var(--font-bold);
  font-size: var(--font-sm);

  display: flex;
  align-items: center;
  justify-content: center;
}

.sev-con dl {
  color: #fff;
  gap: 0.9rem;
}

.sev-con dl dt {
  font-weight: var(--font-regular);
  font-size: var(--font-sm);
}

.sev-con dl dd {
  font-weight: var(--font-bold);
  font-size: var(--font-lg);
}
/* 고객센터 */

/* curriculum */

.swiper {
  height: 30rem;
}

.curriculum {
  padding: 22.7rem 0 21.3rem;
  position: relative;
}

.curriculum-con {
  justify-content: space-between;
}

.curriculum-wrapper {
  padding-top: 9.9rem;
}

/* keyword 섹션 스타일 */
.keyword {
  padding: 22.7rem 0 21.3rem;
  position: relative;
}

.keyword-con {
  justify-content: space-between;
}

.keyword-wrapper {
  padding-top: 9.9rem;
}

/* 공통 스타일 */
.swiper-slide {
  /* width: 20rem !important; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.swiper-pagination {
  bottom: 3rem !important;
}

.swiper-slide dl {
  padding-top: 1.5rem;
}

.swiper-slide dl dt {
  font-weight: var(--font-bold);
  font-size: var(--font-md);
}

.swiper-slide dl dd {
  padding-top: 1.2rem;
  font-weight: var(--font-regular);
  font-size: var(--font-xs);
}

.introduction h3 {
  padding-bottom: 1rem;
}

.introduction p {
  font-size: var(--font-md);
  font-weight: var(--font-medium);
}

.introduction {
  display: flex;
  align-items: center;
  text-align: center;

  background: url(../img/about-3.jpg) no-repeat 100% / cover;
  padding: 2rem 0 2rem 0;
  height: 50rem;
}

.new {
  margin-bottom: 20rem;
}
