@charset "utf-8";

.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide img {
  width: 100%;
  height: 100vh;
}

/* .swiper-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
} */

/* education */
.education {
  margin: 30rem 0 30rem;
}

.education figure {
  width: 74.9rem;
  height: 41.8rem;
  overflow: hidden;
  border-radius: 4rem;

  width: 49.2763%;
}

.education img {
  width: 100%;
  height: 100%;
}

.education-all {
  display: flex;
  justify-content: space-between;
}

.education-title {
  font-size: var(--font-lg);
  font-weight: var(--font-extrabold);
  color: var(--main-color);
}

.education-text strong {
  font-size: var(--font-lg);
  font-weight: var(--font-extrabold);
}

.education-text p {
  font-size: var(--font-sm);
  font-weight: var(--font-regular);
  color: var(--color-gray-300);
}

.more {
  display: flex;
  width: 24rem;
  height: 7.2rem;
  align-items: center;
  justify-content: center;
  margin-top: 6.6rem;
  border-radius: 10rem;
  gap: 0.9rem;

  font-size: var(--font-sm);
  font-weight: var(--font-extrabold);
  font-size: var(--font-sm);
  color: var(--Light-100);
  background: var(--main-color);

  width: 40.9999%;
}

.more::after {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../img/more-con.svg) no-repeat 100% / contain;
}

.more:hover {
  color: var(--Light-100);
  background: var(--color-blue-dark);
}

/* contents */
.contents {
  background: var(--main-color);
  margin-bottom: 30rem;
}

.con-all {
  display: flex;
  justify-content: space-between;
  padding: 20rem 0 20rem;
  padding: 13.1579% 0 13.1579%;
  gap: 2rem;

  overflow-x: auto;

  cursor: grab;
  user-select: none;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; /* iOS 부드러운 스크롤 */
}

.con-all li a {
  display: flex;
  text-align: left;
  flex-direction: column;
  position: relative;

  width: 49.3rem;
  height: 58.5rem;

  background: var(--Light-100);
  padding: 5rem;
  border-radius: 3rem;
}

.con-all dt {
  font-size: var(--font-xxl);
  font-weight: var(--font-extrabold);
  color: var(--main-color);
}

.con-all dd {
  font-size: var(--font-md);
  font-weight: var(--font-regular);
  color: var(--color-gray-200);
}

.con-all p {
  font-size: var(--font-sm);
  font-weight: var(--font-semibold);
  color: var(--color-gray-500);
  margin-top: 2rem;
}

.con-all li a::after {
  content: "";
  display: flex;
  position: absolute;
  width: 12rem;
  height: 12rem;
  bottom: 12%;
  right: 10%;

  width: 24.3408%;
}

.con-all li:nth-child(1) a::after {
  background: url(../img/con-all-1.svg) no-repeat 50% / contain;
}

.con-all li:nth-child(2) a::after {
  background: url(../img/con-all-2.svg) no-repeat 50% / contain;
}

.con-all li:nth-child(3) a::after {
  background: url(../img/con-all-3.svg) no-repeat 50% / contain;
}

.con-all li:nth-child(3) dd {
  color: var(--color-gray-500);
  margin-top: 2rem;

  font-weight: var(--font-semibold);
  font-size: var(sm);
}

/* map */
.map {
  margin-bottom: var(--section-spacing);
}

.map-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-gray-100);
}

.map-text {
  font-size: var(--font-md);
  font-weight: var(--font-regular);
  padding: var(--padding-lg);
}

.map-title {
  font-size: var(--font-xxl);
  font-weight: var(--font-bold);
}

.map-text1 {
  color: var(--color-gray-200);
  padding: 2rem 0;
}

.map-wrap {
  width: 80rem;
}

@media (max-width: 1600px) {
  .con-all li a {
    width: 40rem;
    height: 45rem;
  }

  .map-con {
    flex-wrap: wrap;
  }

  .map-wrap {
    width: 100%;
  }

  #daumRoughmapContainer1734592229954 {
    width: 100% !important;
  }
}

@media (max-width: 950px) {
  .swiper-button-next-1 {
    right: 3%;
  }

  .swiper-button-prev-1 {
    left: 3%;
  }

  .education-all {
    flex-direction: column;
  }

  .education figure {
    width: 100%;
    height: 20.4rem;
    margin-top: 3.5rem;
    border-radius: 2rem;
  }

  .more {
    width: 18.5rem;
    height: 5.5rem;
    margin-top: 3rem;
  }

  .con-all li a {
    width: 30rem;
    height: 35rem;
    padding: 3rem;
    border-radius: 2rem;
  }
}
