@charset "utf-8";

/* more */
.more {
  background: url(../img/about-4.jpg) no-repeat 1% / cover;
  height: 46.7rem;
}

.more-title h4 {
  padding-top: 11.5rem;

  color: var(--Light-100);
  padding-bottom: 4rem;

  font-size: var(--font-xxl);
  font-weight: var(--font-extrabold);
}

.c-more-btn {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;

  width: 25.7rem;
  padding: 2.5rem 5rem;
  border-radius: 10rem;

  color: var(--Light-100);
  background: var(--main-color);

  font-size: var(--font-md);
  font-weight: var(--font-bold);
}

.c-more-btn::after {
  content: "";
  display: block;
  width: 2.8rem;
  height: 2.8rem;
  background: url(../img/more-con.svg) no-repeat 50%;
}

.question {
  padding-top: 15rem;
}

.question-title {
  text-align: center;

  color: var(--main-color);
  font-size: clamp(3rem, 3.125vw, 6rem);
  font-weight: var(--font-extrabold);
}

.question-list {
  padding-top: 7.8rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  padding-top: 5.1316%;
}

.question-list li {
  background: var(--main-color);
  padding: 3.5rem 6.4rem;
  border-radius: 4rem;
  cursor: pointer;

  padding: 2.3026% 4.2105%;
}

.question-list strong {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--Light-100);
  font-size: var(--font-sm);
  font-weight: var(--font-bold);
}

.question-list strong::after {
  content: "";
  display: flex;
  width: 4.2rem;
  height: 4.2rem;
  background: url(../img/more-con.svg) no-repeat 50% / contain;
  transform: rotate(90deg); /* trftY */
  transition: 0.4s;

  width: 3.0172%;
}

.answer-wrap {
  display: none;
  flex-direction: column;
  padding: 5rem 0;

  color: var(--Light-100);

  padding: 3.6% 0;
  font-size: var(--font-md);
  font-weight: var(--font-regular);
}

.answer-wrap p:nth-child(2) {
  padding-top: 4.5rem;

  padding-top: 3.2328%;
}

.question-list li.on > strong::after {
  transform: rotate(270deg); /* trftY */
}
