@charset "utf-8";

.event-list {
  padding-top: 8.4rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 11.1rem 0;

  gap: 7.3026%;
  padding-top: 5.5263%;
}

.event-list > li {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 43.2rem;
  height: 45rem;

  width: 28.4211%;
}

.event-list > li figure {
  width: 100%;
  height: 31.8rem;
  border-radius: 2.4rem;
  overflow: hidden;
  transition: 0.5s;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.event-list > li img {
  width: 100%;
  height: 100%;
}

.event-list > li {
  text-align: center;
}

.event-text {
  padding-top: 2.8rem;
}

.event-text dt {
  font-size: 2.4rem;
  font-weight: 800;
  color: var(--main-color3);

  /* font-size: clamp(1.2rem, 1.25vw, 2.4rem); */
}

.event-text dd {
  font-size: 2rem;
  font-weight: 600;
  color: var(--Darck-60);

  /* font-size: clamp(0.9rem, 1.0416vw, 2rem); */
}

.sns-con {
  display: flex;
  justify-content: center;
  gap: 3.2rem;
  padding-top: 1.8rem;
  opacity: 0;
  transition: 0.5s;

  padding-top: 4.1667%;
}

.sns-con a {
  display: block;
  align-items: center;
}

.sns-con a::before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
}

.sns-con li:nth-child(1) a::before {
  background: var(--main-color) url(../img/foot-icon-1.svg) no-repeat center/
    50%;
}
.sns-con li:nth-child(2) a::before {
  background: var(--main-color) url(../img/foot-icon-2.svg) no-repeat center/
    50%;
}
.sns-con li:nth-child(3) a::before {
  background: var(--main-color) url(../img/foot-icon-3.svg) no-repeat center/
    50%;
}

.event-list li:hover figure {
  width: 100%;
  height: 20.6rem;
}

.event-list li:hover .sns-con {
  opacity: 1;
}

@media (max-width: 1600px) {
  .event-list > li {
    flex: 1 1 30%;
  }
}

@media (max-width: 940px) {
  .event-list {
    padding-top: 4rem;
  }
  .event-list > li figure {
    height: 28.2rem;
  }

  .event-list > li {
    flex: 1 1 50%;
  }
}
