@charset "utf-8";
/* visual */
.visual {
  position: relative;
  max-height: 60rem;
  overflow: hidden;
  animation: visual 0.7s ease-out forwards;
}

.visual figure {
  height: 100%;
}

.visual-text h2,
.visual-text p {
  position: absolute;
  color: var(--Light-100);
  text-align: center;

  transform: translate(-50%, -50%);

  z-index: 1;
}

.visual h2 {
  top: 45%;
  left: 50%;

  font-weight: var(--font-bold);
  font-size: var(--font-xxxl);
}

.visual p {
  top: 59%;
  left: 50%;

  font-weight: var(--font-regular);
  font-size: var(--font-sm);
}

.visual figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: figure-img 1s ease-out forwards;
}

.visual::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

h3 {
  padding-bottom: 5rem;
  padding-bottom: 3.2895%;
  font-weight: var(--font-extrabold);
  font-size: var(--font-xxl);
  color: var(--main-color);
  text-align: center;
}

.intro {
  padding: 12rem 0 17.6rem;
  padding: 6.25% 0 9.1667%;
  text-align: center;
}

.sec-title {
  padding-bottom: 2rem;

  font-size: var(--font-xxl);
  font-weight: var(--font-extrabold);
}

.intro p {
  font-size: var(--font-sm);
}

.intor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18.5rem;
  margin: 8.3rem auto 0;
  width: 106.8rem;
  width: 75.2113%;

  /* border: 1px solid #000; */
}

.intor-list li {
  display: flex;
  width: 23.2rem;
  width: 21.7228%;

  align-items: center;
  flex-direction: column;
  gap: 4.1rem;

  font-weight: var(--font-semibold);
  font-size: var(--font-xxl);

  color: var(--main-darck);

  /* border: 1px solid #000; */
}

.intor-list li::before {
  content: "";
  display: block;
  width: 14.9rem;
  width: 64.2241%;
  /* aspect-ratio: 1/1; */

  height: 14.9rem;
  background: no-repeat 50% / contain;
}

.intor-list li:nth-child(1):before {
  background-image: url(../img/intro-icon-1.svg);
}
.intor-list li:nth-child(2):before {
  background-image: url(../img/intro-icon-2.svg);
}
.intor-list li:nth-child(3):before {
  background-image: url(../img/intro-icon-3.svg);
}

.intor-list li:nth-child(4):before {
  background-image: url(../img/intro-icon-1.svg);
}
.intor-list li:nth-child(5):before {
  background-image: url(../img/intro-icon-2.svg);
}

@media (max-width: 1100px) {
  .intor-list {
    gap: 10rem;
  }

  .intor-list li {
    gap: 1.5rem;
  }

  .intor-list li::before {
    height: 5rem;
  }
}

@media (max-width: 820px) {
  .visual {
    height: 70rem;
  }

  .intor-list li::before {
    height: 5rem;
  }
}

@media (max-width: 600px) {
  .visual h2 {
    top: 42%;
  }

  .visual p {
    top: 60%;
  }
}

@media (max-width: 430px) {
  .intor-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
