@charset "utf-8";

/* phone */

.phone-all {
  width: 90rem;
  margin: 0 auto;
  display: flex;
  align-items: center;

  width: 59.25%;
}

.phone-con {
  width: 40rem;
  width: 44.4444%;
}

.swiper-slide figure img {
  width: 100%;
  height: 100%;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 7rem;
  color: var(--color-gray-200);
}

.text-con dt {
  font-weight: var(--font-extrabold);
  font-size: var(--font-xxl);
}

.text-con dd {
  font-weight: var(--font-medium);
  font-size: var(--font-md);
}

.text-con.on {
  color: var(--color-black);
}

.phone-pagination {
  display: none;
}
/* phone end */
