@charset "utf-8";

/* phone */

.phone-all {
  width: 90rem;
  margin: 0 auto;
  display: flex;
  align-items: center;

  width: 59.25%;
}

.phone-con {
  width: 40rem;
  width: 44.4444%;
}

.swiper-slide figure {
  overflow: hidden;
  height: 70rem;
  border-radius: 3rem;
}

.swiper-slide figure img {
  width: 100%;
  height: 100%;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 7rem;
  color: var(--color-gray-200);
}

.text-con dt {
  font-weight: var(--font-extrabold);
  font-size: var(--font-xxl);
}

.text-con dd {
  font-weight: var(--font-medium);
  font-size: var(--font-md);
}

.text-con.on {
  color: var(--color-black);
}

.phone-pagination {
  display: none;
}
/* phone end */

@media (max-width: 1300px) {
  .phone-all {
    width: 64.3rem;
    height: 57.6rem;
  }
}

@media (max-width: 800px) {
  .phone-all {
    flex-direction: column;
    width: 100%;
  }

  .phone-con {
    position: relative;
    width: 19.2rem;
    height: 40rem;
  }

  .swiper-slide figure {
    height: 35rem;
    border-radius: 3rem;
  }

  .text-con {
    display: none;
    text-align: center;
  }

  .text-con.on {
    display: block;
  }

  .phone-pagination {
    display: block;
    position: absolute;
    bottom: 0rem !important;
  }
}
